@model GameOn.Web.ViewModel.CartViewModel

@{
    ViewBag.Title = "View Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View Cart</h2>
<table class="table">
    <thead>
    <tr>
        <th>Quantity</th>
        <th>Item Name</th>
        <th>Price</th>
        <th>Subtotal</th>
        <td></td>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Items)
    {
        <tr>
            <td class="cart-item">@item.Quantity</td>
            <td class="cart-item">@item.Name</td>
            <td class="cart-item">@($"{item.Price:c}")</td>
            <td class="cart-item">@($"{item.Subtotal:c}")</td>
            <td class="cart-item">@Html.ActionLink("Remove", "Remove", new {productId = item.ProductId})</td>
        </tr>
    }
    <tr>
        <td colspan="5">
            <hr/>
        </td>
    </tr>
    <tr>
        <td class="cart-item"></td>
        <td class="cart-item"></td>
        <th class="cart-item">Subtotal:</th>
        <th class="cart-item">@($"{Model.Subtotal:c}")</th>
        <td></td>
    </tr>
    <tr>
        <td class="cart-item"></td>
        <td class="cart-item"></td>
        <th class="cart-item">Tax</th>
        <th class="cart-item">@($"{Model.Tax:c}")</th>
        <td></td>
    </tr>
    <tr>
        <td class="cart-item"></td>
        <td class="cart-item"></td>
        <th class="cart-item">Total:</th>
        <th class="cart-item">@($"{Model.Total:c}")</th>
        <td></td>
    </tr>
    </tbody>
</table>