@model slnGameOn.Models.Customer
@{
    ViewBag.Title = "Account";
    Layout = "~/views/shared/_Layout.cshtml";
}

<table style="position: relative; top: 100px; width: 100%;" cellpadding="0" cellspacing="0">
    <tr>
        <td class="Margin">&nbsp;</td>
        <td>&nbsp;</td>
        <td class="TitleLeft">Profile</td>
        <td class="TitleRight">Edit</td>
        <td>&nbsp;</td>
        <td class="Margin">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td class="Label">First Name</td>
        <td class="Data">
            <input id="FirstName" class="Input" type="text" value="@Model.FirstName"/>
        </td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td class="Label">Last Name</td>
        <td class="Data">
            <input id="LastName" class="Input" type="text" value="@Model.LastName"/>
        </td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td class="Label">Birth Date</td>
        <td class="Data">
            <input id="DOB" class="Input" type="text" value="@Model.DOB"/>
        </td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td class="Label">Gender</td>
        <td class="Data">
            <select class="Input" id="Gender" style="width: 150px;">
                <option value="M">M</option><option value="F">F</option>
            </select>
        </td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td class="Label">Marital Status</td>
        <td class="Data">
            <select class="Input" id="MaritalStatus" style="width: 150px;">
                <option value="S">Single</option><option value="M">Married</option>
            </select>
        </td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td class="Label">Login Email</td>
        <td class="Data">
            <input id="Email" class="Input" type="text" value="@Model.Email"/>
        </td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td class="Label">Billing Address</td>
        <td class="Data">
            <input id="Address" class="Input" type="text" value="@Model.Address"/>
        </td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td class="Label">&nbsp;</td>
        <td class="Data">
            <input id="CityStateZip" class="Input" type="text" value="@Model.CityStateZip"/>
        </td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td class="Label">Password</td>
        <td class="Data">
            <input id="PassWord" class="Input" type="password" value="@Model.PassWord"/>
        </td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td class="Margin">&nbsp;</td>
        <td>&nbsp;</td>
        <td class="TitleLeft">Contact</td>
        <td class="TitleRight">Edit</td>
        <td>&nbsp;</td>
        <td class="Margin">&nbsp;</td>
    </tr>

    @for (var i = 0; i < Model.Phone.Count; i++)
    {
        <tr>
            <td colspan="2"></td>
            <td class="Label">@Model.Phone[i].Type</td>
            <td class="Data">
                <input id="@Model.Phone[i].PhoneId" class="Input" type="text" value='@Model.Phone[i].PhoneNumber'/>
            </td>
            <td colspan="2"></td>
        </tr>
    }
    <tr>
        <td colspan="6">
            <input type="submit" name="btSubmit" value="Pass Empty Model to Same Page"/>
        </td>
    </tr>

</table>


<script type="text/javascript">
    $(document).ready(function() {
        document.getElementById('Gender').value = '@Model.Gender';
        document.getElementById('MaritalStatus').value = '@Model.MaritalStatus';
        SetActivePage("Account");
    });
</script>